
.container {
    margin-bottom: 20px;

    .title {
        height: 59px;
        line-height: 59px;
        color: $parent-title-color;
        font-size: 16px;
        font-weight: 500;
        text-indent: 40px;
        border-bottom: 1px solid #dae1ec;

        .back {
            float: right;
            margin-right: 40px;
            cursor: pointer;
        }
    }

  .wrap {
    padding: 20px;
  }

  .submit {
    float: left;
  }
}

.el-divider--horizontal {
  margin: 0;
}
