.container {
  padding: 0 30px;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-left {
      float: left;
      .title {
        height: 59px;
        line-height: 59px;
        color: $parent-title-color;
        font-size: 16px;
        font-weight: 500;

        .back {
          float: right;
          margin-right: 40px;
          cursor: pointer;
        }
      }
    }
    .header-right {
      float: right;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .wrap {
    padding: 20px;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
  }

  .submit {
    float: left;
  }
  .thumb {
    background-size: contain;
    width: 100%;
    height: 32px;
    background-repeat: no-repeat;
  }
}
